body {
    text-align: center;
    max-width: 1000px;
    font-family: sans-serif;
    margin: auto;
}
#message {
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    line-height: 3rem;
}
.row {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    margin: 5px;

}
.row > div {
    margin: 3px;
}
.row-0, .row-1, .row-2, .row-3, .row-4, .row-5{
    border: 3px solid #D4D6DA;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    font-weight: 700;
    
}

div.green, button.green {
    background-color: #6BA964; 
    border-color: #6BA964; 
    color: white;
}

div.yellow, button.yellow {
    background: #C9B458; border-color: #C9B458; color: white;
}
div.grey, button.grey {
    background: #787C7E; border-color: #787C7E; color: white;
}
#guessWord {
    text-transform: uppercase;
}
#hint {
    float: right;
    width: 4rem;
    height: 3rem;
    line-height: 3rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

}
.keyboard {
    margin-top: 1rem;
}

.key {
    background: #D4D6DA;
    border: none;
    border-radius: 5px;
    margin: 3px;
    width: 3rem;
    height:3.5rem;
    line-height: 3.5rem;
    font-weight: 400;
}
.key:hover {
    background: #C6A1CF;
}
#enter {
    width: 5rem;
}
#backspace {
    width: 4rem;
}
.messageFilled {
    background-color: #C6A1CF;
    color: white;
}
.filled {
    border: 3px solid black
}